.header {
  height: 60px;
  background-color: #1c1c1c;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  &__logo {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  &__menu {
    // &--badges {
    //   margin-right: 0 !important;
    // }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      fill: #fff;
    }
    a {
      text-decoration: none;
      color: #fff;
      margin-right: 16px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .active {
      color: #2cbdb8;
    }
  }
}

.icon-btn,
.btn-close,
.outline-none {
  &:focus {
    outline: none;
  }
}
.user-click {
  cursor: pointer;
  p {
    cursor: pointer;
  }
}
