@import '../../../../ults/scss/mixins';
.pop-up {
  width: 400px;
  box-shadow: 0 8px 32px #1c1c1c61;
  border-radius: 8px;
  top: 45px;
  position: absolute;
  right: -40px;
  z-index: 99;
  background: #fff;
  overflow: hidden;
  &__header {
    text-align: center;
    color: #2c2f36;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border-bottom: 1px solid #ebedf0;
    letter-spacing: -0.16px;
    padding: 12px 0;
  }
  &__footer {
    text-align: center;
    padding: 8px 0;
    color: #2c2f36;
    text-transform: none;
  }
  .read-more {
    width: 100%;
    font-size: 14px;
    color: #2c2f36;
    text-transform: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.content {
  &__item a {
    display: flex;
    padding: 8px 16px;
    border-bottom: 1px solid #ebedf0;
    overflow: hidden;
    text-transform: none !important;
    margin-right: 0 !important;
    .delete-btn {
      opacity: 0;
    }
    &:hover {
      background-color: #ebedf0;
      .delete-btn {
        opacity: 1;
      }
    }

    .content__text {
      padding-left: 8px;
      width: 100%;
      .title {
        @include textClamp(1);
        color: #2c2f36;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
      }
      .time {
        font-size: 14px;
        color: #747c87;
        font-weight: 400;
      }
    }
  }
}
.delete-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}
