@import '../../ults/scss/mixins';

.post-card {
  display: flex;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #ebedf0;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px #ebedf0;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px 14px;
    p {
      font-size: 14px;
      margin-bottom: 0;
    }
    .title {
      color: #004e7f;
    }
    .price,
    .acreage {
      color: #2c2f36;
      font-weight: 600;
    }
    .address {
      color: #2c2f36;
    }
    .description,
    .time {
      color: #747c87;
    }
    .description {
      @include textClamp(2);
    }
  }
}

.box-common {
  border-radius: 4px;
  padding: 0 16px;
  width: 100%;
  margin-bottom: 16px;
  background: #f5f6f7;
  h4 {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #ebedf0;
  }
  .more-links {
    padding: 12px 0;
    a {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.more-info {
  display: flex;
  justify-content: space-between;
}
