.thumbnail-slider-wrap {
  margin-top: 15px;
  height: 85px;
}
.thumbnail-slider-wrap .slick-track {
  margin-left: 0;
}

.thumbnail-slider-wrap .slick-track .slick-slide img {
  width: 108px;
  height: 76px;
}

.slick-slide-image {
  width: 100%;
  height: 392px;
  object-fit: cover;
}
.slider-wrapper {
  margin-bottom: 32px;
  .slick-prev,
  .slick-next {
    top: 50% !important;
  }
}
