@import '../../../../../../ults/scss/_mixins.scss';
.form-search {
  width: 250px;
  margin-left: auto;
  margin-top: 20px;
}
.table-manage {
  margin-top: 24px;
  table {
    min-width: 100%;
  }
  td,
  th {
    font-size: 14px;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #ccc;
  }
  td {
    img {
      object-fit: cover;
    }
    span {
      @include textClamp(2);
    }
  }

  .tool-items {
    svg {
      cursor: pointer;
      &:hover {
        color: #055699;
      }
    }
  }
}
