.project-header {
  text-align: center;
  h1,
  span {
    color: #055699;
    font-weight: bold;
  }
  h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
  }
  span {
    font-size: 14px;
    font-style: italic;
  }
}
