.footer {
  margin-top: 100px;
  color: #aaaab3;
  background-image: url('../../images/footer-bg.jpg');
  #inputEmail {
    width: 80%;
    border: 1px solid #2cbdb8;

    padding: 5px;
    display: inline-block;
    border-radius: 8px 0 0px 8px;
    outline: none;
  }
  button {
    padding: 5px;
    border: 1px solid #2cbdb8;
    outline: none;
    i {
      color: #2cbdb8;
    }
  }
  ul {
    li {
      margin-bottom: 10px;
      list-style: none;
    }
    a {
      font-size: 14px;
      color: #aaaab3;
      text-decoration: none;
    }
    i {
      color: #aaaab3;
      font-size: 18px;
    }
  }
  &__logo {
    text-transform: uppercase;

    font-weight: bold;
  }
  &__cities {
    ul {
      width: 50%;
      float: left;
      li {
        i {
          color: #2cbdb8;
        }
      }
    }
  }
  &__social {
    li {
      margin-bottom: 10px;
    }
    a {
      font-size: 14px;
      color: #aaaab3;
      text-decoration: none;
    }
    i {
      color: #aaaab3;
      font-size: 18px;
    }
  }
  h4,
  h5 {
    color: #fff;
  }
  .caret-right-solid {
    width: 8px;
    height: fit-content;
  }
}
