.footer {
  margin-top: 100px;
  background-color: #9e9e9e;
  &__logo {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: bold;
  }
  form {
    width: 100%;
  }
  #inputEmail {
    width: 85%;
    padding: 15px 10px;
    border-radius: 5px 0 0px 5px;
  }
  button {
    width: 15%;
    padding: 15px 10px;
    border-left: none;
    background-color: greenyellow;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
    font-weight: 600;
  }
}
