.setting-form {
  padding: 20px 40px;
}
ul {
  li {
    list-style: none;
  }
}
.btn-update {
  float: right;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2cbdb8;
  border: 1px solid #2cbdb8;
  padding: 12px 20px;
  margin-bottom: 20px;
}
